/* ========== VARIABLES ========== */
:root {
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: #0e0e0e;
    --main-text-color: #00ff00; /* terminal πράσινο */

    --body-font: 'Courier New', Courier, monospace; /* monospace γραμματοσειρά */
    --normal-font-size: 1rem;

    --font-regular: 400;
    --font-semi-bold: 600;

    --z-tooltip: 40;
    --z-fixed: 100;
}

/* ========== RESET & BASE ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--main-text-color);
    line-height: 1.5;
    padding: 1rem;
}

header{
   
    width: auto;
    height: 150px;
}

nav{
    
    width: auto;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    padding: 15px 50px 20px 50px;
 
}
a {
    text-decoration: none; 
    color: inherit;
}

ul {
    list-style: none;
}

svg {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
    margin-top: -15px;
}
svg:hover {
    transform: scale(1.3);
}
 

/* ========== HEADER ========== */
 

/* ========== MAIN ========== */
 main {   
    width:  auto;
    height:auto;
} 

.terminalContainer{
  border: 1px solid #2c2f40;   
  box-shadow: 0 0 10px rgba(0, 255, 170, 0.1);
}

.terminalBar{
    background-color:#1a1c25;
    padding: 6px 10px;
    display: flex;
    gap: 8px;
}
 
.bar_button{
    color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.input-area {
  position: relative;
  display: inline-block;
  min-width: 50px;
  caret-color: transparent;  
  font-family: monospace;
  outline: none;
}

.input-area.blinking-cursor::after {
  content: '█';
  position: absolute;
  right: 1;
  animation: blink 1s steps(1) infinite;
  color: #00ff00;
}

.instaction{
    padding-top: 30px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.command {
  display: inline-block;
  min-width: 100px; 
}
 

/* Mobile menu styling */
#mobile-menu {
  position: absolute; /* ή fixed αν θες να μένει πάνω */
  top: 150px; /* όσο το ύψος του header */
  left: 0;
  width: 100%;
  background-color: var(--black-color-lighten);
  z-index: var(--z-fixed); /* να μπαίνει μπροστά από το terminal */
}

#mobile-menu {
  display: none;
}
 
/* ========== RESPONSIVE NAVIGATION ========== */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .right-section {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    #mobile-menu {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    background-color: #151212;;
    z-index: var(--z-fixed);
    overflow: hidden;
    max-height: 0; /* κρυφό */
    transition: max-height 0.4s ease;
  }

  #mobile-menu ul {
    display: flex;
    flex-direction: row; /* κάθετα */
    gap: 2rem;
    padding-right: 70px;
    margin-top: 5px;
    justify-content: right;
 
  }

  #mobile-menu a {
    color: var(--main-text-color);
    font-size: 1.5rem;
  }

  /* Όταν ανοίγει */
  #mobile-menu.show {
    display: block;
    max-height: 300px; /* αρκετό ύψος για τα links */
  }
    
}